<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
      html, body, #map-canvas {
          height: 100%;
          width: 100%;
          margin: 0px;
          padding: 0px
      }

      #sidebar {
          height: 100%;
          width: 25%;
          margin: 0px;
          padding: 0px;
          float: left;
          background-color: #00acee;
          font-family: verdana;
          font-size: 11px;
      }

      #sidebar-contents {
          height: 100%;
          width: 100%;
          padding: 0px;
          border: 1px solid black;
          overflow:scroll;
      }

      .controls {
          margin-top: 16px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #search-box {
          background-color: #fff;
          padding: 0 11px 0 13px;
          width: 400px;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          text-overflow: ellipsis;
      }

      #search-box:focus {
          border-color: #4d90fe;
          margin-left: -1px;
          padding-left: 14px;  /* Regular padding-left + 1. */
          width: 401px;
      }

      .pac-container {
          font-family: Roboto;
      }

      #type-selector {
          color: #fff;
          background-color: #4d90fe;
          padding: 5px 11px 0px 11px;
      }

      #type-selector label {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
      }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyCFfsKnB4D-tWvTK0Y3DXAYwnlkbdg8CWg"></script>
  <%= javascript_include_tag "jquery.timeago.js" %>
  <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.
      jQuery(document).ready(function() {
          jQuery("abbr.timeago").timeago();
      });

      function initialize() {

          var markers = [];
          var map = new google.maps.Map(document.getElementById('map-canvas'), {
              mapTypeId: google.maps.MapTypeId.SATELLITE
          });

          var defaultBounds = new google.maps.LatLngBounds(
                  new google.maps.LatLng(-33.8902, 151.1759),
                  new google.maps.LatLng(-33.8474, 151.2631));
          map.fitBounds(defaultBounds);

          var mgr = new MarkerClusterer(map);

          google.maps.event.addListener(map, 'rightclick', function(event) {
              var image = '<%= asset_path 'blue-pushpin.png' %>'

              marker = addMarkerWatch(map, mgr, image, event.latLng, "Target Location");

              google.maps.event.addListener(marker,'click', function(event) {

                  var myArea = new google.maps.Circle({
                      center: marker.position,
                      radius: 500,
                      strokeOpacity:0.8,
                      strokeWeight:2,
                      fillOpacity:0.4,
                      editable: true
                  });

                  myArea.setMap(map);

                  google.maps.event.addListener(myArea,'radius_changed', function(event) {
                      getSocialContents(map, marker.getPosition().lat(), marker.getPosition().lng(), myArea.getRadius());
                      //getTweets(map, mgr, marker.getPosition().lat(), marker.getPosition().lng(), myArea.getRadius());
                      //getInstagrams(map,marker.getPosition().lat(), marker.getPosition().lng(), myArea.getRadius());
                  });

                  google.maps.event.addListener(myArea,'click', function(event) {
                      getSocialContents(map, marker.getPosition().lat(), marker.getPosition().lng());
                      //getTweets(map, mgr, marker.getPosition().lat(), marker.getPosition().lng());
                      //getInstagrams(map,marker.getPosition().lat(), marker.getPosition().lng());
                      //getYoutubes(map, mgr, marker.getPosition().lat(), marker.getPosition().lng());
                  });
              });
          });

          // Create the search box and link it to the UI element.
          var input = /** @type {HTMLInputElement} */(
                  document.getElementById('search-box'));
          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

          var searchBox = new google.maps.places.SearchBox(
                  /** @type {HTMLInputElement} */(input));

          // [START region_getplaces]
          // Listen for the event fired when the user selects an item from the
          // pick list. Retrieve the matching places for that item.
          google.maps.event.addListener(searchBox, 'places_changed', function() {
              var places = searchBox.getPlaces();

              for (var i = 0, marker; marker = markers[i]; i++) {
                  marker.setMap(null);
              }

              // For each place, get the icon, place name, and location.
              markers = [];
              var bounds = new google.maps.LatLngBounds();
              for (var i = 0, place; place = places[i]; i++) {
                  var image = {
                      url: place.icon,
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(25, 25)
                  };

                  // Create a marker for each place.
                  marker = addMarkerWatch(map, mgr, image, place.geometry.location, place.name );

                  google.maps.event.addListener(marker, 'click', function(event) {

                      var myCity = new google.maps.Circle({
                          center: marker.position,
                          radius: 500,
                          strokeOpacity:0.8,
                          strokeWeight:2,
                          fillOpacity:0.4,
                          editable: true
                      });

                      myCity.setMap(map);

                      google.maps.event.addListener(myCity,'radius_changed', function(event) {
                          getSocialContents(map, marker.getPosition().lat(), marker.getPosition().lng(), myCity.getRadius());
                          //getTweets(map, mgr, marker.getPosition().lat(), marker.getPosition().lng(), myCity.getRadius());
                          //getInstagrams(map,marker.getPosition().lat(), marker.getPosition().lng(), myArea.getRadius());
                      });

                      google.maps.event.addListener(myCity,'click', function(event) {
                          getSocialContents(map, marker.getPosition().lat(), marker.getPosition().lng());
                          //getTweets(map, mgr, marker.getPosition().lat(), marker.getPosition().lng());
                          //getInstagrams(map,marker.getPosition().lat(), marker.getPosition().lng());

                      });
                  });

                  markers.push(marker);

                  bounds.extend(place.geometry.location);
              }

              map.fitBounds(bounds);
              map.setZoom(15);


          });
          // [END region_getplaces]

          // Bias the SearchBox results towards places that are within the bounds of the
          // current map's viewport.
          google.maps.event.addListener(map, 'bounds_changed', function() {
              var bounds = map.getBounds();
              searchBox.setBounds(bounds);
          });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      function addMarkerWatch(map, mgr, image, position, title)
      {
          if (mgr.getTotalMarkers() == 0) {
              marker = new google.maps.Marker({ position: position, map: map, title: title, icon: image });
              mgr.addMarker(marker);
          } else {
              mgr.removeMarkers(mgr.getMarkers());
              marker = new google.maps.Marker({ position: position, map: map, title: title, icon: image  });
              mgr.addMarker(marker);
          }
          return marker;
      }

      function getYoutubes(map,youtube_mgr,lat,long,radius,topic)
      {
          if(typeof(radius)==='undefined') { radius = '0.5km'
          } else {
          radius = radius / 1000 +  "km"
          }

          $.ajax({
              url: '/youtube',
              type: 'POST',
              dataType: "json",
              async: false,
              data: { lat: lat, lng: long, radius: radius, topic: topic },
              success: function(data) {},
              error: function() {}
          });
      }

      function getInstagrams(map,lat,long,radius,topic,start_ts,stop_ts)
      {
          // send radius in meters for instagram api
          if(typeof(radius)==='undefined') { radius = '500'}

          //start of the day ts
          var now = new Date();
          var startOfDay = (new Date(now.getFullYear(), now.getMonth(), now.getDate()) / 1000);
          //current time as unix ts
          var currentOfDay = Math.round((new Date()).getTime() / 1000);

          $.ajax({
              url: '/instagram',
              type: 'POST',
              dataType: "json",
              async: false,
              data: { lat: lat, lng: long, radius: radius, topic: topic, start_ts: startOfDay, stop_ts: currentOfDay },
              success: function(data) {
                  instagram_locations = [];

                  jQuery.each(data, function(i, val) {

                      if (val.lat == null) {
                          var latlong = calculateLatLong(lat,long)
                          insta_lat = latlong[0]
                          insta_long = latlong[1]
                      } else {
                          insta_lat = val.lat
                          insta_long = val.long }

                      // Create a marker for each instagram location
                      var image = '<%= asset_path 'Instagram_Icon.png' %>'

                      var insta_marker = new google.maps.Marker({
                          map: map,
                          icon: image,
                          twitter_handle: val.username,
                          title: jQuery.timeago(new Date(val.ts*1000)) + " : " + val.user_full_name,
                          insta_ts: jQuery.timeago(new Date(val.ts*1000)),
                          insta_type: val.type,
                          position: new google.maps.LatLng(insta_lat,insta_long)
                      });

                      google.maps.event.addListener(insta_marker,'click', function(){
                          var infowindow = new google.maps.InfoWindow({
                              content: jQuery.timeago(new Date(val.ts*1000)) + " : " + val.user_full_name + " : " + val.instagram_url
                          });
                          infowindow.open(map,insta_marker);
                      });
                      instagram_locations.push(insta_marker);
                  });

                  // create tweet div if does not exists
                  if ($("#sidebar").length == 0){
                      $("#map-canvas").css({width: '75%', float: 'left'});
                      $('<div id="sidebar">').appendTo('body');
                  }

                  if ($("#sidebar").length > 0 && $("#sidebar-contents").length == 0){
                      $('#sidebar').append('<div id="sidebar-contents">');
                  }

                  //if ( $('#sidebar-contents').children().length > 0 ) {
                      // remove old contents
                  //    $('#sidebar-contents').children().remove();
                  //}

                  // fill side box with tweets      <img src="smiley.gif" alt="Smiley face" height="42" width="42">
                  jQuery.each(data, function(i, val) {
                      $('#sidebar-contents').append($('<dt>').html('<div style="float: left; width: 50%"><a href="http://instagram.com/' + val.username + '" target="_blank">' + val.user_full_name + '</a></div><div align="right" style="float: left; width: 50%">' + jQuery.timeago(new Date(val.ts*1000)) + '</div>'));
                      $('#sidebar-contents').append($('<dd>').html('<div><a href="' + val.instagram_url + '" target="_blank">' + val.instagram_url + '</a></div>'));
                  });

              },
              error: function() {}
          });
      }

      function getSocialContents(map,lat,long,radius,topic)
      {
          if(typeof(radius)==='undefined') { radius = '0.5km'
          } else {
              radius = radius / 1000 +  "km"
          }

          //start of the day ts
          var now = new Date();
          var startOfDay = (new Date(now.getFullYear(), now.getMonth(), now.getDate()) / 1000);
          //current time as unix ts
          var currentOfDay = Math.round((new Date()).getTime() / 1000);
          //console.log(startOfDay + " : " + currentOfDay);

          $.ajax({
              url: '/social',
              type: 'POST',
              dataType: "json",
              async: false,
              data: { lat: lat, lng: long, radius: radius, topic: topic, start_ts: startOfDay, current_ts: currentOfDay },
              success: function(data) {
                  social_content_locations = [];

                  jQuery.each(data, function(i, val) {

                      if (val.lat == null) {
                          var latlong = calculateLatLong(lat,long)
                          content_marker_latitude = latlong[0]
                          content_marker_longitude = latlong[1]
                      } else {
                          content_marker_latitude = val.lat
                          content_marker_longitude = val.long }

                      if (val.source == 'twitter') {
                            var social_content_icon_image = '<%= asset_path 'twitter.png' %>'
                      } else if (val.source == 'instagram') {
                            var social_content_icon_image = '<%= asset_path 'instagram.png' %>'
                      } else if (val.source == 'youtube') {
                          var social_content_icon_image = '<%= asset_path 'youtube.png' %>'
                      }

                      // Create a marker for each tweet location
                      var social_content_marker = new google.maps.Marker({
                          map: map,
                          icon: social_content_icon_image,
                          content_username: val.username,
                          title: harmonized_timestamp(val) + " : " + val.content,
                          content_ts: harmonized_timestamp(val),
                          position: new google.maps.LatLng(content_marker_latitude,content_marker_longitude)
                      });

                      google.maps.event.addListener(social_content_marker,'click', function(){
                          var social_content_info_window = new google.maps.InfoWindow({
                              content: harmonized_timestamp(val) + " : " + val.full_name + " : " + val.content
                          });
                          social_content_info_window.open(map,social_content_marker);
                      });
                      social_content_locations.push(social_content_marker);
                  });

                  // create tweet div if does not exists
                  if ($("#sidebar").length == 0){
                      $("#map-canvas").css({width: '75%', float: 'left'});
                      $('<div id="sidebar">').appendTo('body');
                  }

                  if ($("#sidebar").length > 0 && $("#sidebar-contents").length == 0){
                      $('#sidebar').append('<div id="sidebar-contents">');
                  }


                  if ( $('#sidebar-contents').children().length > 0 ) {
                      // remove old contents
                      $('#sidebar-contents').children().remove();
                  }

                  // fill side box with contents
                  jQuery.each(data, function(i, val) {
                      $('#sidebar-contents').append($('<dt>').html('<div style="float: left; width: 50%"><a href="http://twitter.com/' + val.username + '" target="_blank">' + val.full_name + '</a></div><div align="right" style="float: left; width: 50%">' + harmonized_timestamp(val) + '</div>'));
                      var re = /(https?:\/\/(([-\w\.]+)+(:\d+)?(\/([\w/_\.]*(\?\S+)?)?)?))/g;
                      var result =  (val.content).replace(re, "<a href=\"$1\" class=\"links\" target=\"_blank\" \">$1</a>");
                      $('#sidebar-contents').append($('<dd>').html('<div>' + result + '</div>'));
                  });
              },
              error: function() {
              }
          });
      }

      function getTweets(map,tweet_mgr,lat,long,radius,topic)
      {
          if(typeof(radius)==='undefined') { radius = '0.5km'
          } else {
              radius = radius / 1000 +  "km"
          }

          $.ajax({
              url: '/twitter',
              type: 'POST',
              dataType: "json",
              async: false,
              data: { lat: lat, lng: long, radius: radius, topic: topic },
              success: function(data) {
                  tweet_locations = [];

                  jQuery.each(data, function(i, val) {

                      if (val.loc == null) {
                          var latlong = calculateLatLong(lat,long)
                          tweet_lat = latlong[0]
                          tweet_long = latlong[1]
                      } else {
                          tweet_lat = val.loc[0]
                          tweet_long = val.loc[1] }

                      // Create a marker for each tweet location
                      var image = '<%= asset_path 'tweet_16_blue.png' %>'

                      var tweet_marker = new google.maps.Marker({
                          map: map,
                          icon: image,
                          twitter_handle: val.handle,
                          title: jQuery.timeago(val.ts) + " : " + val.text,
                          tweet_ts: jQuery.timeago(val.ts),
                          position: new google.maps.LatLng(tweet_lat,tweet_long)
                      });

                      //tweet_mgr.addMarker(tweet_marker);

                      google.maps.event.addListener(tweet_marker,'click', function(){
                          var infowindow = new google.maps.InfoWindow({
                              content: jQuery.timeago(val.ts) + " : " + val.name + " : " + val.text
                          });
                          infowindow.open(map,tweet_marker);
                      });
                      tweet_locations.push(tweet_marker);
                  });

                  // create tweet div if does not exists
                  if ($("#sidebar").length == 0){
                      $("#map-canvas").css({width: '75%', float: 'left'});
                      $('<div id="sidebar">').appendTo('body');
                  }

                  if ($("#sidebar").length > 0 && $("#sidebar-contents").length == 0){
                      $('#sidebar').append('<div id="sidebar-contents">');
                  }


                  if ( $('#sidebar-contents').children().length > 0 ) {
                      // remove old contents
                      $('#sidebar-contents').children().remove();
                  }

                  // fill side box with tweets
                  jQuery.each(data, function(i, val) {
                      $('#sidebar-contents').append($('<dt>').html('<div style="float: left; width: 50%"><a href="http://twitter.com/' + val.handle + '" target="_blank">' + val.name + '</a></div><div align="right" style="float: left; width: 50%">' + jQuery.timeago(val.ts) + '</div>'));
                      var re = /(https?:\/\/(([-\w\.]+)+(:\d+)?(\/([\w/_\.]*(\?\S+)?)?)?))/g;
                      var result =  (val.text).replace(re, "<a href=\"$1\" class=\"links\" target=\"_blank\" \">$1</a>");
                      $('#sidebar-contents').append($('<dd>').html('<div>' + result + '</div>'));
                  });
              },
              error: function() {
              }
          });
      }

      function harmonized_timestamp(val)
      {
          return jQuery.timeago(new Date(val.created_at*1000));
      }

      function calculateLatLong(lat,lon)
      {
          //Earth’s radius, sphere
          R=6378137

          //offsets in meters
          max_offset = 50
          min_offset = 1
          dn = Math.random() * (max_offset - min_offset) + min_offset;
          de = Math.random() * (max_offset - min_offset) + min_offset;

          //Coordinate offsets in radians
          dLat = dn/R;
          dLon = de/(R*Math.cos(Math.PI*lat/180));

          //OffsetPosition, decimal degrees
          latO = lat + dLat * 180/Math.PI;
          lonO = lon + dLon * 180/Math.PI;

          return [latO.toFixed(8), lonO.toFixed(8)];
      }

  </script>
</head>
<body>
<input id="search-box" class="controls" type="text" placeholder="enter the location address">
<div id="map-canvas"></div>
</div>
</body>
</html>